.venv/
venv/
test_venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.mypy_cache/
.pytest_cache/
.dmypy.json
dmypy.json
build/
dist/
*.egg-info/
*.so
*.egg
.DS_Store
